.hero {
  text-align: center;
  padding: 118px 0;
  background-color: #c4c4c4;
  background-image: url("../../images/hero/img-bg-mob.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/hero/img-bg-mob@2x.jpg");
  }
}

.hero__title {
  @include font(26px, 900, 42px);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  color: #ffffff;
}
@media sreen and (min-width: 768px) {
  .hero {
    text-align: center;
    padding: 118px 0;
    background-color: #c4c4c4;
    background-image: url("../../images/hero/img-bg-tablet.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: url("../../images/hero/img-bg-tablet@2x.jpg");
    }
  }
  .hero__title {
    @include font(26px, 900, 42px);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto;
    color: #ffffff;
  }
}
