.team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
  align-items: flex-start;
}
/* .team-list__card */
.team-list__label {
  background-color: #ffffff;
  padding: 30px 32px 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team-list__card {
  flex-basis: calc((100%-90) / 4);
  display: flex;
  flex-direction: column;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list__subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
