@media screen and (max-width: 767px) {
  .address-container {
    text-align: center;
  }
  .address__item {
    margin: 0 0 8px 0;

    &:last-child {
      margin: 0;
    }
    .address__link {
      @include font(14px, 400, 24px);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
    .address__link--white {
      color: #ffffff;
    }
  }
}
@media screen and (min-width: 768px) {
  .address-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
  }
  .address__item {
    margin: 0 0 9px 0;

    &:last-child {
      margin: 0;
    }
  }
  .address__link {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &--white {
      color: #ffffff;
    }
  }
}

// .address-container {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: -20px;
// }
// .address__item {
//   margin: 0 0 9px 0;
//   @include font(14px, 400, 24px);
//   letter-spacing: 0.03em;
//   color: #ffffff;
//   &:last-child {
//     margin: 0;
//   }
// }
