.footer {
  margin: 0;
  background-color: #2f303a;
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
}
.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.footer-logotype {
  color: #ffffff;
  margin: 0 0 20px 0;
  padding: 0;
}
.logotype--acccented {
  padding: 0;
}

// .footer {
//   margin: 0;
//   padding: 60px 0px 60px 0px;
//   background-color: #2f303a;
// }
// .footer-container {
//   display: flex;
//   align-items: baseline;
// }
// .footer-logotype {
//   color: #ffffff;
//   margin: 0 0 20px 0;
// }
