.contacts-list {
  display: none;
}

.mobile-contacts-list {
  position: absolute;
  bottom: 134px;
  left: 40px;

  &__tel-link {
    margin-bottom: 32px;
    @include font(34px, 500, 40px);
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .mobile-contacts-list__item:hover &,
    .mobile-contacts-list__item:focus & {
      color: var(--accent-color);
    }
  }
  &__mail-link {
    @include font(24px, 500, 28px);
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .mobile-contacts-list__item:hover &,
    .mobile-contacts-list__item:focus & {
      color: var(--accent-color);
    }
  }
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
  }
}

// .contacts-list {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: auto;
// }
// .contacts-list__item + .contacts-list__item {
//   margin-left: 50px;
// }
// .contacts-list__link {
//   @include font(14px, 500, 16px);
//   padding-top: 32px;
//   padding-bottom: 32px;

//   letter-spacing: 0.02em;
//   color: #757575;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contacts-list__icon {
//   fill: currentColor;
//   margin-right: 10px;
// }
